form { padding:3px 0 0 3px; }
.form-control { width:25%; display:inline-flex; vertical-align:middle; }
.btn { transition:none; } /* allows bg color changes */
.btn-primary:active, .btn-primary:hover, .btn-primary { background-color: hsl(211, 100%, 50%); }

#output { position: absolute; top:50%; margin-top:-77px; width:100%; }
input:focus { box-shadow: none; }
.error { color:red; position: absolute; top:40px; left:3px; }

table { margin:0 auto; }
td { text-align: center; font-size:small; color:grey; }